<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b58ca3">  <td>21/04/08 16:51:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePasswordChild2.ChangePassword()[pri:12, instance:inheripckg.ChangePasswordChild2@6dbb137d]">ChangePassword</td> 
  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="b58ca3">  <td>21/04/08 16:53:08</td>   <td>91675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePasswordChild2.ChangePassword()[pri:12, instance:inheripckg.ChangePasswordChild2@48aaecc3]">ChangePassword</td> 
  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="b58ca3">  <td>21/04/08 16:51:18</td>   <td>-17910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePasswordChild2.EmptyChangePassword()[pri:9, instance:inheripckg.ChangePasswordChild2@6dbb137d]">EmptyChangePassword</td> 
  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="b58ca3">  <td>21/04/08 16:52:51</td>   <td>75089</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePasswordChild2.EmptyChangePassword()[pri:9, instance:inheripckg.ChangePasswordChild2@48aaecc3]">EmptyChangePassword</td> 
  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="c87990">  <td>21/04/08 16:50:47</td>   <td>-49198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfileChildClass1.FirstBlankField()[pri:2, instance:inheripckg.ChangePasswordChild2@6dbb137d]">FirstBlankField</td> 
  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="c87990">  <td>21/04/08 16:52:03</td>   <td>26957</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfileChildClass1.FirstBlankField()[pri:2, instance:inheripckg.ChangePasswordChild2@48aaecc3]">FirstBlankField</td> 
  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="c87990">  <td>21/04/08 16:51:03</td>   <td>-32977</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfileChildClass1.InvalidFirstNameFormat()[pri:5, instance:inheripckg.ChangePasswordChild2@6dbb137d]">InvalidFirstNameFormat</td> 
  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="c87990">  <td>21/04/08 16:52:37</td>   <td>60297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfileChildClass1.InvalidFirstNameFormat()[pri:5, instance:inheripckg.ChangePasswordChild2@48aaecc3]">InvalidFirstNameFormat</td> 
  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="c87990">  <td>21/04/08 16:51:09</td>   <td>-27316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfileChildClass1.InvalidLastNameFormat()[pri:6, instance:inheripckg.ChangePasswordChild2@6dbb137d]">InvalidLastNameFormat</td> 
  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="c87990">  <td>21/04/08 16:52:42</td>   <td>65726</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfileChildClass1.InvalidLastNameFormat()[pri:6, instance:inheripckg.ChangePasswordChild2@48aaecc3]">InvalidLastNameFormat</td> 
  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="c87990">  <td>21/04/08 16:51:15</td>   <td>-21547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfileChildClass1.InvalidMobileNumberFormat()[pri:7, instance:inheripckg.ChangePasswordChild2@6dbb137d]">InvalidMobileNumberFormat</td> 
  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="c87990">  <td>21/04/08 16:52:48</td>   <td>71266</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfileChildClass1.InvalidMobileNumberFormat()[pri:7, instance:inheripckg.ChangePasswordChild2@48aaecc3]">InvalidMobileNumberFormat</td> 
  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="c87990">  <td>21/04/08 16:50:53</td>   <td>-43880</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfileChildClass1.LastNameBlank()[pri:3, instance:inheripckg.ChangePasswordChild2@6dbb137d]">LastNameBlank</td> 
  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="c87990">  <td>21/04/08 16:52:31</td>   <td>54454</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfileChildClass1.LastNameBlank()[pri:3, instance:inheripckg.ChangePasswordChild2@48aaecc3]">LastNameBlank</td> 
  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="c87990">  <td>21/04/08 16:50:58</td>   <td>-38419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfileChildClass1.MobileNumberBlank()[pri:4, instance:inheripckg.ChangePasswordChild2@6dbb137d]">MobileNumberBlank</td> 
  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="c87990">  <td>21/04/08 16:52:31</td>   <td>54854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfileChildClass1.MobileNumberBlank()[pri:4, instance:inheripckg.ChangePasswordChild2@48aaecc3]">MobileNumberBlank</td> 
  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="c87990">  <td>21/04/08 16:50:42</td>   <td>-54521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfileChildClass1.MyProfileVisit()[pri:1, instance:inheripckg.ChangePasswordChild2@6dbb137d]">MyProfileVisit</td> 
  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="c87990">  <td>21/04/08 16:52:03</td>   <td>26929</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfileChildClass1.MyProfileVisit()[pri:1, instance:inheripckg.ChangePasswordChild2@48aaecc3]">MyProfileVisit</td> 
  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="b58ca3">  <td>21/04/08 16:51:27</td>   <td>-9119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePasswordChild2.PasswordValid()[pri:10, instance:inheripckg.ChangePasswordChild2@6dbb137d]">PasswordValid</td> 
  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="b58ca3">  <td>21/04/08 16:52:59</td>   <td>82762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePasswordChild2.PasswordValid()[pri:10, instance:inheripckg.ChangePasswordChild2@48aaecc3]">PasswordValid</td> 
  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="c87990">  <td>21/04/08 16:51:16</td>   <td>-20715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfileChildClass1.SuccessMessage()[pri:8, instance:inheripckg.ChangePasswordChild2@6dbb137d]">SuccessMessage</td> 
  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="c87990">  <td>21/04/08 16:52:48</td>   <td>71811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfileChildClass1.SuccessMessage()[pri:8, instance:inheripckg.ChangePasswordChild2@48aaecc3]">SuccessMessage</td> 
  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="b58ca3">  <td>21/04/08 16:51:32</td>   <td>-4589</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePasswordChild2.WrongPasswordValid()[pri:11, instance:inheripckg.ChangePasswordChild2@6dbb137d]">WrongPasswordValid</td> 
  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="b58ca3">  <td>21/04/08 16:53:04</td>   <td>87189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePasswordChild2.WrongPasswordValid()[pri:11, instance:inheripckg.ChangePasswordChild2@48aaecc3]">WrongPasswordValid</td> 
  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="ee998b">  <td>21/04/08 16:51:37</td>   <td>186</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParentClass.afterClass()[pri:0, instance:inheripckg.ChangePasswordChild2@6dbb137d]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="ee998b">  <td>21/04/08 16:53:08</td>   <td>92019</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParentClass.afterClass()[pri:0, instance:inheripckg.ChangePasswordChild2@48aaecc3]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="b58ca3">  <td>21/04/08 16:51:37</td>   <td>186</td> <td>&nbsp;</td><td title="&lt;&lt;ChangePasswordChild2.afterTest()[pri:0, instance:inheripckg.ChangePasswordChild2@6dbb137d]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="b58ca3">  <td>21/04/08 16:53:08</td>   <td>92020</td> <td>&nbsp;</td><td title="&lt;&lt;ChangePasswordChild2.afterTest()[pri:0, instance:inheripckg.ChangePasswordChild2@48aaecc3]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="b58ca3">  <td>21/04/08 16:50:14</td>   <td>-82319</td> <td>&nbsp;</td><td title="&gt;&gt;ChangePasswordChild2.beforeTest()[pri:0, instance:inheripckg.ChangePasswordChild2@6dbb137d]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="ee998b">  <td>21/04/08 16:50:14</td>   <td>-82293</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParentClass.beforeTest(java.lang.String)[pri:0, instance:inheripckg.ChangePasswordChild2@6dbb137d]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="b58ca3">  <td>21/04/08 16:51:37</td>   <td>246</td> <td>&nbsp;</td><td title="&gt;&gt;ChangePasswordChild2.beforeTest()[pri:0, instance:inheripckg.ChangePasswordChild2@48aaecc3]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="ee998b">  <td>21/04/08 16:51:37</td>   <td>248</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParentClass.beforeTest(java.lang.String)[pri:0, instance:inheripckg.ChangePasswordChild2@48aaecc3]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="ee998b">  <td>21/04/08 16:50:16</td>   <td>-79950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParentClass.login()[pri:0, instance:inheripckg.ChangePasswordChild2@6dbb137d]">login</td> 
  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="ee998b">  <td>21/04/08 16:51:42</td>   <td>5736</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParentClass.login()[pri:0, instance:inheripckg.ChangePasswordChild2@48aaecc3]">login</td> 
  <td>main@1882554559</td>   <td></td> </tr>
</table>
