<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>inheripckg.ChangePasswordChild2</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ChangePassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PasswordValid</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>InvalidFirstNameFormat</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LastNameBlank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>InvalidMobileNumberFormat</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>WrongPasswordValid</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EmptyChangePassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MyProfileVisit</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>InvalidLastNameFormat</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SuccessMessage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MobileNumberBlank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FirstBlankField</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
