<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="66a265">  <td>21/03/31 17:10:35</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ChangePasswordChild2.beforeTest()[pri:0, instance:inheripckg.ChangePasswordChild2@63a65a25]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1264413185</td>   <td></td> </tr>
<tr bgcolor="8ebf60">  <td>21/03/31 17:10:35</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParentClass.beforeTest(java.lang.String)[pri:0, instance:inheripckg.ChangePasswordChild2@63a65a25]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1264413185</td>   <td></td> </tr>
<tr bgcolor="8ebf60">  <td>21/03/31 17:10:40</td>   <td>5633</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParentClass.login()[pri:0, instance:inheripckg.ChangePasswordChild2@63a65a25]">login</td> 
  <td>main@1264413185</td>   <td></td> </tr>
<tr bgcolor="7692c9">  <td>21/03/31 17:11:07</td>   <td>32067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfileChildClass1.MyProfileVisit()[pri:1, instance:inheripckg.ChangePasswordChild2@63a65a25]">MyProfileVisit</td> 
  <td>main@1264413185</td>   <td></td> </tr>
<tr bgcolor="7692c9">  <td>21/03/31 17:11:16</td>   <td>41674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfileChildClass1.FirstBlankField()[pri:2, instance:inheripckg.ChangePasswordChild2@63a65a25]">FirstBlankField</td> 
  <td>main@1264413185</td>   <td></td> </tr>
<tr bgcolor="7692c9">  <td>21/03/31 17:11:22</td>   <td>47176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfileChildClass1.LastNameBlank()[pri:3, instance:inheripckg.ChangePasswordChild2@63a65a25]">LastNameBlank</td> 
  <td>main@1264413185</td>   <td></td> </tr>
<tr bgcolor="7692c9">  <td>21/03/31 17:11:27</td>   <td>52722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfileChildClass1.MobileNumberBlank()[pri:4, instance:inheripckg.ChangePasswordChild2@63a65a25]">MobileNumberBlank</td> 
  <td>main@1264413185</td>   <td></td> </tr>
<tr bgcolor="7692c9">  <td>21/03/31 17:11:33</td>   <td>58136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfileChildClass1.InvalidFirstNameFormat()[pri:5, instance:inheripckg.ChangePasswordChild2@63a65a25]">InvalidFirstNameFormat</td> 
  <td>main@1264413185</td>   <td></td> </tr>
<tr bgcolor="7692c9">  <td>21/03/31 17:11:38</td>   <td>63727</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfileChildClass1.InvalidLastNameFormat()[pri:6, instance:inheripckg.ChangePasswordChild2@63a65a25]">InvalidLastNameFormat</td> 
  <td>main@1264413185</td>   <td></td> </tr>
<tr bgcolor="7692c9">  <td>21/03/31 17:11:44</td>   <td>69306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfileChildClass1.InvalidMobileNumberFormat()[pri:7, instance:inheripckg.ChangePasswordChild2@63a65a25]">InvalidMobileNumberFormat</td> 
  <td>main@1264413185</td>   <td></td> </tr>
<tr bgcolor="7692c9">  <td>21/03/31 17:11:45</td>   <td>69946</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditProfileChildClass1.SuccessMessage()[pri:8, instance:inheripckg.ChangePasswordChild2@63a65a25]">SuccessMessage</td> 
  <td>main@1264413185</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>21/03/31 17:11:48</td>   <td>73505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePasswordChild2.EmptyChangePassword()[pri:9, instance:inheripckg.ChangePasswordChild2@63a65a25]">EmptyChangePassword</td> 
  <td>main@1264413185</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>21/03/31 17:11:58</td>   <td>82955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePasswordChild2.PasswordValid()[pri:10, instance:inheripckg.ChangePasswordChild2@63a65a25]">PasswordValid</td> 
  <td>main@1264413185</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>21/03/31 17:12:02</td>   <td>87550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePasswordChild2.WrongPasswordValid()[pri:11, instance:inheripckg.ChangePasswordChild2@63a65a25]">WrongPasswordValid</td> 
  <td>main@1264413185</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>21/03/31 17:12:07</td>   <td>92088</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePasswordChild2.ChangePassword()[pri:12, instance:inheripckg.ChangePasswordChild2@63a65a25]">ChangePassword</td> 
  <td>main@1264413185</td>   <td></td> </tr>
<tr bgcolor="8ebf60">  <td>21/03/31 17:12:07</td>   <td>92518</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParentClass.afterClass()[pri:0, instance:inheripckg.ChangePasswordChild2@63a65a25]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1264413185</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>21/03/31 17:12:07</td>   <td>92519</td> <td>&nbsp;</td><td title="&lt;&lt;ChangePasswordChild2.afterTest()[pri:0, instance:inheripckg.ChangePasswordChild2@63a65a25]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1264413185</td>   <td></td> </tr>
</table>
